  
  @media (min-width: 992px) {
    .buscaCidade__Cidade {
      width: 500px;
    }
    
    .buscaCidade__Estado {
      width: 250px;
    }
  
    .buscaCidade__Buscar{
      width: auto;
    }
  
    .info{
      font-size: 18px;
    }
  
    body{
      font-size: 13px;
    }
  
    .footer{
      font-size: 10px;
    }
  
    .buscaCidade__Cidade{
      font-size: 18px;
    }
    .buscaCidade__Estado{
      font-size: 18px;
    }
    .buscaCidade__Buscar{
      font-size: 18px;
    }
  }
  